

body{
  background-color: rgb(238, 238, 238);
}

.picture-phone{
  height: "";
}

.blueish{
  background-color: #5da1ce;
}

.font-pacifico{
  font-family: 'Pacifico', cursive;
}

.footerish{
  background-color: rgb(44, 44, 44);
}
